@{
  Layout = "_Layout";
}


<h1>Add a vendor here:</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label><br>
  <input id="vendorName" name="vendorName" type="text"><br>
  <label for="vendorDescribe">Vendor Description </label><br>
  <textarea id="vendorDescribe" name="vendorDescribe" type="text" rows="3" ></textarea><br>
  <label for="vendorAddress">Vendor Address</label><br>
  <input id="vendorAddress" name="vendorAddress" type="text"><br>
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/vendors">Back to vendors.</a></p>
